@{
    ViewData["Title"] = "Notfind";
}

<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h4 style="color: red">Свободных номеров на выбранные даты не найдено</h4>
                    <h4>Попробуйте изменить параметрами размещения или даты заезда и выезда</h4>
                    <div class="bt-option">
                        <a asp-controller="Home" asp-action="Index"><h5 style="color: blue">Продолжить поиск</h5></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
